/* Starting of global CSS */
body {
  margin: 0;
  background: #f0f2f5;
}
#preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../images/loader.gif") #fff no-repeat center;
  z-index: 1;
  
}

p {
  font-size: 14px;
  color: grey;
  line-height: 2;
}

* {
  margin: 0px;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* End of global CSS */

/* navigation CSS starts here */

.header {
  max-height: 70px;
  width: 100%;
  background-color: #ffc251;
}
nav {
  display: flex;
  padding: 1% 10%;
  justify-content: space-between;
  align-content: center;
}
nav img {
  width: 40px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 22px;
  position: relative;
}
.nav-links ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 90%;
  background: #0080ff;
  display: block;
  margin: 5px auto;
  transition: 300ms ease-in-out;
}

.nav-links ul li:hover::after {
  width: 100%;
}
/* navigation CSS ends here */

/* blog CSS starts here */

.blog-img {
  padding: 20px;
}

.blog-photo {
  width: 100%;
  height: 700px;
  background-color: #ffc251;
  object-fit: cover;
}
.blog-para .blog-head {
  text-align: center;
}
.blog-para .blog-desp {
  padding: 20px 80px;
  text-align: justify;
}

/* footer CSS starts here */
.footer-container {
  height: 40px;
  background-color: #727272;
}
.footer-elements {
  position: relative;
}
.footer-elements p {
  padding-left: 80px;
  color: #fff;
  padding-top: 12px;
}
.footer-elements ul {
  list-style-type: none;
  position: absolute;
  right: 100px;
  top: 12px;
}
.footer-elements ul li {
  display: inline;
}
.footer-elements ul li a {
  color: #fff;
  padding-left: 5px;
}
